.toolbar {
  height: 48px;
  width: 375px;
  top: 44px;
  display: flex;
  flex-direction: row;
  position: absolute;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu {
  position: absolute;
  top: 20px;
  display: flex;
  padding: 8px;
  right: 24px;
}

.nav {
  height: 20px;
  width: 76px;
  left: 24px;
  top: 20px;
  border-radius: nullpx;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}

.intro {
  background-image: url("header-shapes mobile.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  height: 604px;
  top: 120px;
}

#h1 {
  height: fit-content;
  width: 327px;
  left: 24px;
  top: 114px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  padding-left: 20px;
  margin: 0;
}

#paragraph {
  height: fit-content;
  width: 327px;
  left: 24px;
  top: 276px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  margin: 0;
}

#connect {
  padding-left: 20px;
}

.Image {
  width: 170.17px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 10px;
}

.icons {
  height: fit-content;
}

.social {
  height: 18px;
  width: 18px;
}

main {
  position: relative;
}

.work_container {
  position: relative;
  top: 830px;
  display: grid;
  grid-gap: 100px;
}

.work {
  position: relative;
  height: 490px;
  width: 327px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.project_name {
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 236px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0;
  margin: 0;
}

.Counter {
  position: relative;
  margin: 10px;
  top: -2px;
  list-style-type: none;
  padding: 0;
}

#h3 {
  width: 55px;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  padding: fit;
  margin: 0;
  list-style-type: none;
}

.langue {
  width: 88px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
  padding: 0;
}

.year {
  width: 29px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
  list-style: none;
  padding: 0;
}

.project_description {
  width: 295px;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}



.code_language {
  /* display: flex;  */
  /* float: left; */

  flex-direction: row;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0; 
}

.html {
  float: left;
  padding:10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 4px 12px;
  height: fit-content;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ht {
  float:left;
  padding:5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.css {
  float: left;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 4px 12px;
  height: fit-content;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.javascript {
  float:left;
  padding: 5px;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 4px 12px;
  height: fit-content;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

a {
  text-decoration: none;
  color: #6070ff;
}

.link_to_project {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.check_Project:hover {
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.About_myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  position: absolute;
  width: 327px;
  height: 1125.15px;
  top: 3300px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 310px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 0 50px;
}

#about {
  width: 327px;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.text {
  width: 327px;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.link {
  padding-left: 0;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.image {
  padding-left: 0;
  width: 170.17px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.link_to_resume {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 12px;
  width: 138px;
  height: 48px;
  left: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin: 0;
}

.resume {
  height: 24px;
  width: 138px;
  left: 12px;
  top: 12px;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skill_set {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
  flex: none;
  flex-grow: 0;
}

.set {
  list-style-type: none;
}

.language {
  position: relative;
  height: 24px;
  top: 10px;
  left: 20px;
  right: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.drop {
  position: relative;
  left: 85%;
  right: 25%;
  top: -25px;
  bottom: 37.5%;
  color: #acb7c3;
}

.language_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  width: 302px;
  height: 248.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.border {
  position: relative;
  display: flex;
  flex-direction: row;
  right: 0;
  width: 260px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ellipse {
  position: relative;
  width: 48px;
  height: 48px;
  left: -30px;
  top: calc(50% - 48px / 2 - 0.36px);
}

.code {
  position: relative;
  height: 24px;
  top: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  list-style-type: none;
}

.frame1 {
  position: relative;
  top: -85px;
  width: 285px;
  height: 70px;
  flex: none;
  left: -10px;
  order: 1;
  list-style-type: none;
}

.frame2 {
  position: relative;
  width: 285px;
  height: 70px;
  flex: none;
  left: -10px;
  top: -85px;
  order: 1;
  list-style-type: none;
}

.separator {
  position: relative;
  flex: none;
  left: 0;
  top: 21px;
}

.bottom_separator {
  position: relative;
  flex: none;
  left: 0;
  top: 60px;
}

.framework {
  position: relative;
  left: -85px;
  top: -5px;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.skills {
  position: relative;
  left: -115px;
  top: 35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  list-style-type: none;
}

.right_icon {
  position: relative;
  left: 140px;
  top: 5px;
}

.icon_chevron {
  position: relative;
  left: 200px;
  top: 5px;
}

.footer {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  width: 375px;
  height: 779px;
  left: 0px;
  top: 4350px;
  background: #6070FF;
  border: 1px solid;
}

h4 {
  position: relative;
  width: 375px;
  height: 56px;
  left: -1px;
  top: 100px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  margin:0;
}

#text {
  position: relative;
  width: 327px;
  height: 102px;
  left: 24px;
  top: 90px;
  font-family:  "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px; 
  text-align: center;  
  color: #EBEBFF;
}

.name, .mail, .message, .button {
  display: flex;
  justify-content: center;
  margin-bottom:20px;
  position: relative;
  height: 48px;
  width: 327px;
  left: 24px;
  top: 120px;
  bottom: 0px;
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
}

#mail, #msg, #name {
  margin-top: 8px;
  width: 300px;
  height: 30px;
  list-style: none;
  border: 0px;
}

#msg {
  height: 150px;
}

.message {
height:170px;
}

.button {
  margin-top:20px;
  height: 30px;
  width: 140px;
  left: 24px;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
}

.Img {
  border-radius: 0px;
  position: absolute;
  width: 220px;
  height: 670px;
  left: 156px;
  top: 20px;
}





